body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  border: none;

  background-color: #ee3643;
}

a.button:hover {
  background-color: #ca2c37;
}

a.button:active {
  background-color: #ba2732;
}

/* Стили для шапки сайта */

.main-header-logo img {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo img:hover {
  background-color: #ca2c37;
}

.main-header-logo img:active {
  background-color: #ba2732;
}

.header-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.search input {
  color: #ffffff;

  border: none;
  background-color: #293449;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.header-top a {
  color: #ffffff;
}

.header-top a:hover {
  background-color: #212a3a;
}

.header-top a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

a.order {
  background-color: #63a63e;
}

a.order:hover {
  background-color: #5fbb2d;
}

a.order:active {
  background-color: #518534;
}

.header-bottom {
  background-color: #f4f7f9;
}

.page-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

a.phone {
  font-size: 21px;
  line-height: 21px;

  text-align: center;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  list-style: none;
}

.login-link a,
.registration-link a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff
}

.login-link a:hover,
.registration-link a:hover {
  color: #ee3643;
}

.login-link a:active,
.registration-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  border-bottom: 5px solid #293449;

  background-color: #32425c;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* Стили для раздела Особенности */

.catalog-sections-list {
  list-style: none;
}

.catalog-sections-list li:first-child {
  background-color: #ffbf47;
}

.catalog-sections-list li:nth-child(2) {
  background-color: #3bbce3;
}

.catalog-sections-list li:last-child {
  background-color: #dc91d8;
}

.catalog-sections-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-sections-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.catalog-sections-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-sections-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-slides-list,
.features-slides-switches1,
.features-slides-switches2 {
  list-style: none;
}

.features-slides-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #a39e9c;
}

.features-slides-item p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #a39e9c;
}

.features-discount {
  background-color: #8ed78f;
}

.features-delivery {
  background-color: #ffc047;
}

.features-discount h3,
.features-delivery h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.features-discount a,
.features-delivery a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.features-discount a:hover,
.features-delivery a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-discount a:active,
.features-delivery a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Стили для раздела Популярные товары */

.popular-products-title {
  background-color: #f9f5f0;
}

.popular-products-title h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #eaeaea;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.catalog-item-name,
.catalog-item-model {
  color: #000000;

  background-color: #ffffff;
}

.catalog-item-image img {
  text-align: center;
}

.catalog-item-old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;

  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
}

.catalog-item-new-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;
}

.catalog-item-new-price a {
  color: #ffffff;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.button-buy {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

a.button-buy:hover {
  background-color: #5fbb2d;
}

a.button-buy:active {
  box-shadow: none;
  background-color: #518534;
}

.button-bookmark {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #32425c;

  border: 3px solid #63a63e;
  background-color: #ffffff;
}

a.button-bookmark:hover {
  border: 3px solid #32425c;
  background-color: #ffffff;
}

a.button-bookmark:active {
  opacity: 0.3;

  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #32425c;
}

/* Стили для раздела Популярные производители */

.popular-brands-title {
  background-color: #f9f5f0;
}

.popular-brands-title h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: #32425c;
}

.popular-brands-list {
  list-style: none;
}

.popular-brands-item {
  border: 1px solid #eaeaea;
}

.popular-brands-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item a:active {
  opacity: 0.3;
}

.popular-brands-item a {
  text-align: center;
}

/* Стили для раздела Сервисы */

.services {
  background-color: #f4f7f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-list {
  list-style: none;
}

.services-item button {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: #ffffff;

  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.services-item button:hover {
  background-color: #293449;
}

.services-item button:focus {
  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.services-description-list {
  list-style: none;
}

.services-description-icon h3 {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c
}

.services-delivery h3 {
  line-height: 36px;
}

.services-description-icon p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-credit-btn {
  background-color: #ff5357;
}

/* Стили для раздела О Компании и Контакты */

.index-columns {
  background-color: #ffffff;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-company {
  list-style: none;
}

.delivery-company li {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Стили для Подвала */

.footer-top {
  background-color: #32425c;
}

.footer-logo img {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-contacts,
.footer-contacts a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-logo img:hover {
  background-color: #ca2c37;
}

.footer-logo img:active {
  background-color: #ba2732;
}

.footer-navigation-site {
  list-style: none;
}

.footer-navigation-site a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation-menu {
  list-style: none;
}

.footer-navigation-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-navigation-site a:hover,
.footer-navigation-menu a:hover {
  text-decoration: underline;
}

.footer-navigation-site a:active,
.footer-navigation-menu a:active {
  opacity: 0.5;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright-1 {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback,
.footer-copyright-2 {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff
}

.feedback,
.copyright-link {
  color: #ffd180;
}

.feedback:hover,
.copyright-link:hover {
  text-decoration: underline;
}

.feedback:active,
.copyright-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Стили для попапов */

.modal {
  color: #000000;
  background-color: #ffffff;
}

.modal-map img {
  box-shadow: 0 0 15px 2px rgba(47, 42, 43, 0.5);
}

.modal-close {
  color: #ee3643;
}

.modal-feedback {
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: ##999999;

  border: 2px solid #d7dcde;
  background-color: #ffffff;
}

.feedback-form-send-btn {
  background-color: #f4f4f4;
}

.feedback-form-send-btn button {
  text-align: center;
}

.feedback-form-send-btn button:hover {
  background-color: #ca2c37;
}

.feedback-form-send-btn button:active {
  background-color: #ba2732;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: solid 2px #b5b5b5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: solid 2px #ee3643;
}

/* Стили для страницы каталога */

.user-navigation-profile {
  background-color: #ffffff;
}

.button-input a {
  font-size: 21px;
  line-height: 21px;
  text-transform: none;
  color: #000000;

  background-color: #ffffff;
}

.button-exit a {
  background-color: #ffffff;
}

.button-input a:active,
.button-exit a:active {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-link {
  list-style: none;
}

.user-orders a,
.user-account a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-orders a:hover,
.user-account a:hover {
  color: #ee3643;
}

.user-orders a:active,
.user-account a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  list-style: none;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.container h1 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f6f8;
}

.sort-type,
.filters h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f7f3ec;
}

.sort-type-list {
  list-style: none;
}

.sort-type-list-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-type-list-item a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type-list-item a:focus {
  border: none;
  color: #ee3643;
}

.sort-derection-list {
  list-style: none;
}

.sort-derection-list-icon a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-derection-list-icon a:hover {
  color: #000000;
}

.sort-derection-list-icon a:focus {
  color: #ee3643;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filters-field legend {
  letter-spacing: 1px;
}

.filters input[type="text"] {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #f7f3ec;
}

.filters p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.filters-brend ul,
.filters-field ul {
  list-style: none;
}

.filters-brend li,
.filters-field li {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.about-perforators {
  background-color: #f4f7f9;
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforators p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.modal-buy {
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-buy h2 {
  font-size: 30px;
  line-height: 30px;
}

.modal-buy-btn {
  background-color: #f1f1f1;
}

.modal-shopping-btn {
  color: #000000;
  background-color: #ffffff;
}
