body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  border-radius: 3px;

  background-color: #ee3643;
}

a.button:hover {
  background-color: #ca2c37;
}

a.button:active {
  background-color: #ba2732;
}

/* Стили для шапки сайта */

.header-top {
  display: flex;
  flex-direction: column;

  font-size: 17px;
  line-height: 18px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.header-top a {
  color: #ffffff;
}

.header-top a:hover {
  background-color: #212a3a;
}

.header-top a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-top .main-header-logo {
  width: 220px;
  height: 42px;
}

.main-header-logo img {
  padding: 13px 56px 15px 55px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 #b52933;
}

.header-top .main-header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;
}

.header-top .main-header-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1e26;
}

.search {
  position: relative;
}

.search input {
  font-size: 17px;
  line-height: 18px;
  width: 270px;

  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 48px;
  color: #ffffff;

  border: none;
  background-color: #293449;
}

.search input::placeholder {
  color: #ffffff;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search:hover svg {
  opacity: 1;
}

.search:active path {
  fill: #ee3643;
  opacity: 1;
}

.bookmark {
  position: relative;
  width: 150px;
  box-sizing: border-box;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
}

.bookmark::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark:hover::before {
  opacity: 1;
}

.bookmark:active::before {
  opacity: 0.5;
}

.basket {
  position: relative;
  width: 150px;
  box-sizing: border-box;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket:hover::before {
  opacity: 1;
}

.basket:active::before {
  opacity: 0.5;
}

.basket-full {
  background-color: #ee3643;
}

.container .basket-full:hover,
.container .basket-full:active {
  background-color: #ee3643;
}

.order {
  width: 150px;
  box-sizing: border-box;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.order {
  background-color: #63a63e;
}

.header-top .order:hover {
  background-color: #5fbb2d;
}

.header-top .order:active {
  background-color: #518534;
}

.header-bottom {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

.header-bottom .container {
  display: flex;
}

.header-bottom .page-title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;

  width: 200px;

  margin: 0;
  padding: 0;
  padding-top: 49px;
  padding-right: 70px;
  padding-left: 52px;

  color: #ee3643;

  background-color: inherit;
}

.header-contacts {
  max-width: 270px;

  margin-right: 50px;
  padding-top: 45px;
}

.phone {
  display: block;
  position: relative;

  font-size: 21px;
  line-height: 21px;

  width: 270px;
  box-sizing: border-box;

  padding: 10px 49px 8px 69px;

  color: #ee3643;
  border: 3px solid #ffffff;
}

.phone::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 11px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address {
  font-size: 14px;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 8px;

  color: #32425c;
}

.user-navigation {
  display: flex;
  list-style: none;

  margin: 0;
  margin-left: 20px;
  padding: 0;
  padding-top: 46px;
}

.login-link {
  width: 120px;
}

.registration-link {
  width: 150px;
  margin-left: 10px;
}

.login-link a,
.registration-link a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff
}

.login-link a {
  position: relative;
  padding: 12px 27px 12px 45px;
}

.login-link svg {
  position: absolute;
  top: 14px;
  left: 13px;
}

.login-link:hover path {
  fill: #000000;
}

.login-link:active path {
  fill: #c5c5c5;
}

.registration-link a {
  padding: 12px 25px 12px 25px;
}

.login-link a:hover,
.registration-link a:hover {
  color: #ee3643;
}

.login-link a:active,
.registration-link a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Стили для шапки страницы Каталога */

.user-navigation-catalog {
  padding-top: 46px;
}

.user-navigation-profile {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;

  background-color: #ffffff;
}

.button-input {
  display: block;
  position: relative;

  font-size: 21px;
  line-height: 21px;
  text-transform: none;

  width: 300px;
  box-sizing: border-box;

  padding-top: 12px;
  padding-right: 67px;
  padding-bottom: 11px;
  padding-left: 47px;

  color: #000000;

  background-color: #ffffff;
}

.button-input .icon-input {
  position: absolute;
  top: 13px;
  left: 13px;
}

.button-input .icon-exit {
  position: absolute;
  top: 14px;
  right: 10px;
}

.button-input:hover path {
  fill: #32425c;
}

.user-navigation-profile .button-input:hover {
  color: #000000;

  background-color: #ffffff;
}

.user-navigation-profile .button-input:active {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-link {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-link li {
  position: relative;
}

.user-navigation-link li::after {
  content: "";
  position: absolute;

  top: 8px;
  right: 16px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

.user-navigation-link li:last-child::after {
  display: none;
}

.user-orders {
  margin-right: 32px;
  margin-left: 17px;
}

.user-orders,
.user-account {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-orders:hover,
.user-account:hover {
  color: #ee3643;
}

.user-orders:active,
.user-account:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  padding-top: 39px;
}

.site-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
  width: 940px;
  margin: 0;
  padding: 0;

  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.site-navigation a {
  display: block;
  font-size: 17px;
  line-height: 17px;

  padding: 20px 31px 22px 30px;

  color: #ffffff;

  background-color: #32425c;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:focus {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* Стили для раздела Особенности */

.features {
  padding-top: 60px;
}

.catalog-sections-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.catalog-sections-item {
  position: relative;
  width: 300px;
}

.catalog-sections-list li:first-child {
  background-color: #ffbf47;
}

.catalog-sections-list li:nth-child(2) {
  background-color: #3bbce3;
}

.catalog-sections-list li:last-child {
  background-color: #dc91d8;
}

.catalog-sections-list .flag-new::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-sections-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 12px;
  padding-left: 22px;
  color: #ffffff;
}

.catalog-sections-item a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  width: 135px;
  margin-left: 25px;
  margin-bottom: 22px;
  padding: 10px 0;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.catalog-sections-item .features-icon-3 {
  margin-left: 23px;
}

.catalog-sections-item a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-sections-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-sections-item:nth-child(1)::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-sections-item:nth-child(2)::after {
  content: "";

  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-sections-item:nth-child(3)::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-columns {
  display: flex;
  justify-content: space-between;

  margin-bottom: 53px;
}

/* Стили для Слайдера */

.features-slides {
  position: relative;
  box-sizing: border-box;

  background-color: #a39e9c;
}

.features-slides-list,
.features-slides-switches1,
.features-slides-switches2 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-slides-item {
  display: none;
  width: 620px;
  height: 266px;
}

.features-slides-item:nth-child(2) {
  display: block;
}

.features-slides-item:nth-child(1) {
  min-height: 266px;
  background-image: url("../img/slide-image-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-slides-item:nth-child(2) {
  min-height: 266px;
  background-image: url("../img/slide-image-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-slides-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  max-width: 310px;

  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 1px;
  padding-left: 24px;
}

.features-slides-item p {
  font-size: 18px;
  line-height: 24px;

  max-width: 310px;
  margin: 0;
  padding: 0;
  padding-left: 25px;

  color: #ffffff;
}

.features-slides-item .button {
  display: block;
  width: 195px;
  margin: 0;
  margin-top: 121px;
  margin-left: 25px;
  padding: 11px 0 9px;
}

.features-slides-switches1 {
  position: absolute;

  left: 25px;
  top: 134px;
  z-index: 100;

  text-align: center;
  font-size: 0;
  transform: translateY(-50%);
}

.features-slides-switches1 .slides-switches-icon {
  display: inline-block;
  position: relative;

  vertical-align: middle;
}

.features-slides-switches1 .slides-switches-icon:nth-child(2) {
  margin-left: 531px;
}

.features-slides-switches1 .slides-switches-btn {
  width: 22px;
  height: 40px;

  margin: 0;
  padding: 0;

  cursor: pointer;
  background: none;
  border: none;
}

.slides-switches-icon:nth-child(1) .slides-switches-btn::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slides-switches-icon:nth-child(2) .slides-switches-btn::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-slides-switches2 {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 260px;
  bottom: 33px;
  z-index: 100;

  margin: 0 auto;
  width: 100px;
  height: 16px;

  background-color: transparent;
}

.slides-switches-radio-btn {
  display: block;
  box-sizing: content-box;
  font-size: 0;

  margin: 0 5px;
  padding: 0;
  width: 6px;
  height: 6px;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.features-slides-switches2 .active {
  background-color: #ee3643;
}

/* .features-slides-switches2 {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;

  width: 100px;
  height: 16px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.features-slides-switches2 .slides-switches-radio {
  display: inline-block;
  position: relative;

  vertical-align: middle;
}

.features-slides-switches2 .slides-switches-radio-btn {
  width: 22px;
  height: 22px;
  box-sizing: content-box;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slides-switches-radio-btn::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;

  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: #ffffff;
}

.features-slides-switches2 .active::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 6px;
  height: 6px;
  margin: -3px;

  background-color: #ee3643;
  border-radius: 50%;
} */

/* Продолжение: Стили для раздела Особенности */

.features-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-discount {
  position: relative;
  width: 300px;
  background-color: #8ed78f;
}

.features-delivery {
  position: relative;
  width: 300px;
  background-color: #ffc047;
}

.features-discount h3,
.features-delivery h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 12px;
  padding-left: 22px;

  color: #ffffff;
}

.features-discount a,
.features-delivery a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  width: 135px;
  margin-left: 23px;
  margin-bottom: 22px;
  padding: 10px 0;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.features-discount a:hover,
.features-delivery a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-discount a:active,
.features-delivery a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-discount::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-delivery::after {
  content: "";

  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Стили для раздела Популярные товары */

.popular-products-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-products-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  width: 320px;

  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  color: #32425c;
}

.popular-products-btn {
  display: block;

  width: 253px;
  box-sizing: border-box;
  text-align: center;

  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 26px;

  padding: 10px 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  font-size: 0;

  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  font-size: 17px;
  width: 220px;
  vertical-align: middle;

  margin-right: 20px;
  margin-bottom: 21px;

  border: 1px solid #eaeaea;
}

.popular-products .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-list .flag-new::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  min-height: 40px;
  font-weight: 700;

  width: 160px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  margin-top: 5px;
}

.catalog-item .catalog-item-name {
  color: #000000;

  background-color: #ffffff;
}

.catalog-item-image {
  margin: 0;
  padding: 0;
}

.catalog-item-image img {
  text-align: center;
  max-width: 100%;
}

.catalog-item-old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;

  min-height: 20px;

  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
}

.catalog-item-new-price {
  position: relative;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  text-align: center;

  width: 140px;
  margin: 0 auto;
  margin-bottom: 20px;

  background: #ee3643;
  border-radius: 3px;
}

.catalog-item-new-price a {
  display: block;
  padding: 10px 30px;
  color: #ffffff;
}

.catalog-item-new-price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -23px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-selected {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;

  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}

.catalog-item:hover .catalog-item-selected {
  display: block;
}

.catalog-item-selected .button-buy,
.catalog-item-selected .button-bookmark {
  display: block;
  width: 135px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 7px;
  padding: 12px 0;
  border-radius:3px;
}

.catalog-item-selected .button-buy {
  position: relative;
  color: #ffffff;

  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
}

.catalog-item-selected .button-buy::before {
  content: "";
  position: absolute;

  top: 12px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

a.button-buy:hover {
  background-color: #5fbb2d;
}

a.button-buy:active {
  box-shadow: none;
  background-color: #518534;
}

.catalog-item-selected .button-bookmark {
  padding: 9px 0;
  color: #32425c;

  border: 3px solid #63a63e;
  background-color: #ffffff;
}

a.button-bookmark:hover {
  border: 3px solid #32425c;
  background-color: #ffffff;
}

a.button-bookmark:active {
  opacity: 0.3;

  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #32425c;
}

/* Стили для раздела Популярные производители */

.popular-brands-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  background-color: #f9f5f0;
}

.popular-brands-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  color: #32425c;
}

.all-brands-btn {
  display: block;

  width: 253px;
  text-align: center;

  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 26px;

  padding: 10px 0;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.popular-brands-item a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 220px;
  box-sizing: border-box;
  height: 145px;

  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.popular-brands-item:nth-child(4n) a {
  margin-right: 0;
}

.popular-brands-item:hover a {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active a {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:nth-child(1) img {
  padding: 53px 0 55px;
}

.popular-brands-item:nth-child(2) img {
  padding: 50px 0 55px;
}

.popular-brands-item:nth-child(3) img {
  padding: 25px 0 32px;
}

.popular-brands-item:nth-child(4) img {
  padding: 21px 11px 36px 9px;
}

.popular-brands-item:nth-child(5) img {
  padding: 58px 0 56px;
}

.popular-brands-item:nth-child(6) img {
  padding: 35px 0 37px;
}

.popular-brands-item:nth-child(7) img {
  padding: 23px 0 26px;
}

.popular-brands-item:nth-child(8) img {
  padding: 34px 0 42px;
}

.popular-brands-item:active img {
  opacity: 0.3;
}

/* Стили для раздела Сервисы */

.services {
  padding-top: 65px;
  background-color: #f4f7f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  width: 400px;

  margin: 0;
  padding: 0;
}

.services .index-columns {
  display: flex;
  padding-top: 68px;

  background-color: #f4f7f9;
}

.services-list {
  position: relative;
  width: 240px;

  margin: 0;
  margin-right: 80px;
  padding: 0;
  padding-bottom: 100px;

  list-style: none;
}

.services-list::after {
  content: "";
  position: absolute;

  top: -40px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url('../img/divider.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-description-item {
  display: none;
}

.services-description-item:nth-child(1) {
  display: block;
}

.services-description-item:nth-child(1) {
  min-height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 150px 22px;
}

.services-description-item:nth-child(2) {
  min-height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

.services-description-item:nth-child(3) {
  min-height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

.services-item .services-btn,
.services-item .services-selected:hover {
  display: block;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: none;

  width: 240px;

  padding: 0;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 22px;

  color: #ffffff;

  box-shadow:
    0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.services-item .services-btn:hover {
  background-color: #293449;
}

.services-item .services-btn:focus,
.services-item .services-selected {
  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

.services-description-list {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-description-item h3 {
  font-size: 36px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  color: #32425c
}

.services-credit h3 {
  padding-top: 5px;
}

.services-description-item p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  padding: 0;
}

.services-delivery h3 {
  line-height: 36px;
}

.services-delivery p {
  width: 275px;
}

.services-guarantee p {
  width: 380px;
}

.services-credit p {
  width: 280px;
}

.services-credit-btn {
  display: block;

  width: 107px;

  margin-top: 25px;
  padding: 10px 44px;

  background-color: #ff5357;
}

/* Стили для раздела О Компании и Контакты */

.index-columns {
  display: flex;
  justify-content: space-between;

  padding-top: 80px;
  background-color: #ffffff;
}

.about-company {
  width: 520px;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-bottom: 27px;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  width: 520px;

  margin: 0;
  padding: 0;
  padding-bottom: 22px;
}

.about-company .about-delivery {
  width: 390px;
}

.about-company .button {
  display: block;
  text-align: center;

  width: 220px;
  margin-top: 15px;
  padding: 10px 0;
}

.delivery-company {
  list-style: none;

  margin: 0;
  padding: 0;
}

.delivery-company li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;

  padding-left: 36px;
  padding-bottom: 22px;
}

.delivery-company li:nth-child(2) {
  padding-bottom: 19px;
}

.delivery-company li::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-bottom: 27px;
}

.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  width: 180px;

  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.contacts .button {
  display: block;
  text-align: center;

  width: 300px;
  margin-top: 38px;
  padding: 10px 0;
}

/* Стили для Подвала */

.main-footer {
  margin-top: 85px;
}

.inner-page .main-footer {
  margin-top: 0;
}

.footer-top {
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
}

.footer-top .footer-logo {
  width: 220px;
  height: 68px;

  margin-bottom: 28px;
}

.footer-logo img {
  padding: 20px 41px 25px;

  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-contacts {
  width: 325px;

  margin: 0;
  padding: 0;
}

.footer-contacts,
.footer-contacts a {
  font-size: 18px;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-left: 2px;
  padding-bottom: 48px;

  color: #f3f7f9;
}

.footer-logo img:hover {
  background-color: #ca2c37;
}

.footer-logo img:active {
  background-color: #ba2732;
}

.footer-navigation-site {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  width: 550px;

  margin: 0;
  padding: 0;
  padding-top: 38px;
}

.footer-navigation-site a {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-navigation-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  width: 525px;

  margin: 0;
  padding: 0;
}

.footer-navigation-menu a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-navigation-site a:hover,
.footer-navigation-menu a:hover {
  text-decoration: underline;
}

.footer-navigation-site a:active,
.footer-navigation-menu a:active {
  opacity: 0.5;
}

.footer-bottom {
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
}

.footer-copyright-1 {
  font-size: 16px;
  line-height: 18px;

  width: 230px;

  margin: 0;
  margin-right: 160px;
  padding: 0;

  color: #ffffff;
}

.footer-social-list {
  display: flex;

  width: 150px;

  margin: 0;
  margin-right: 100px;
  padding: 0;

  list-style: none;
}

.footer-social-list li {
  width: 42px;
  height: 42px;
}

.footer-social-list li:first-child,
.footer-social-list li:nth-child(2) {
  margin-right: 3px;
}

.social-button {
  position: relative;
  display: block;

  text-align: center;
  font-size: 0;

  width: 42px;
  height: 42px;

  color: #ffffff;
  border-radius: 50%;
  background-color: #212a3a;
}

li:nth-child(1) .social-button::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 7px;

  width: 26px;
  height: 15px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

li:nth-child(2) .social-button::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 14px;

  width: 12px;
  height: 22px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

li:nth-child(3) .social-button::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;

  width: 21px;
  height: 21px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.footer-feedback,
.footer-copyright-2 {
  font-size: 16px;
  line-height: 18px;

  margin: 0;
  padding: 0;

  color: #ffffff
}

.footer-feedback {
  width: 140px;
  margin-right: 47px;
}

.footer-copyright-2 {
  width: 100px;
  /* margin-left: 5px; */
}

.feedback,
.copyright-link {
  margin: 0;
  padding: 0;

  color: #ffd180;
}

.feedback:hover,
.copyright-link:hover {
  text-decoration: underline;
}

.feedback:active,
.copyright-link:active {
  color: #ee3643;
  text-decoration: none;
}

/* Стили для Всплывающих окон */

.modal {
  display: none;
  position: fixed;
  z-index: 150;
  color: #000000;
  background-color: #ffffff;
}

.modal-show {
  display: block;
}

.modal-map {
  width: 940px;
  height: 446px;

  top: 50%;
  left: 50%;

  box-shadow: 0 0 15px 2px rgba(47, 42, 43, 0.5);
  background-image: url("../img/map-big.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #565656;
  transform: translate(-50%, -50%);
}

.modal-map p {
  margin: 0;
  padding: 0;
}

.modal-map img {
  box-shadow: 0 0 15px 2px rgba(47, 42, 43, 0.5);
}

.modal-feedback {
  width: 620px;
  box-sizing: border-box;

  top: 100px;
  left: 50%;

  margin-left: -310px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-feedback-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 460px;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0;
  padding-top: 48px;
}

.feedback-form p {
  margin: 0;
  padding: 0;
}

.modal-feedback-container p:first-child {
  margin-bottom: 20px;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 2px;
  background-color: #ffffff;
}

.feedback-form input[type="text"] {
  display: flex;
  flex-direction: column;

  width: 220px;
  box-sizing: border-box;

  padding: 12px 0 12px 15px;
}

.feedback-form textarea {
  width: 460px;
  box-sizing: border-box;

  margin-bottom: 37px;
  padding-top: 12px;
  padding-left: 15px;
}

.feedback-form label {
  display: block;

  font-size: 18px;
  line-height: 18px;

  margin-bottom: 10px;
}

.modal-close {
  position: absolute;
  font-size: 0;
  cursor: pointer;

  top: 0;
  right: 0;

  width: 22px;
  height: 22px;

  border: none;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;

  top: 16px;
  right: 9px;

  width: 28px;
  height: 5px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-form-send-btn {
  display: flex;

  background-color: #f4f4f4;
}

.feedback-form-send-btn button {
  width: 460px;
  text-align: center;

  margin: 38px auto;
  padding: 12px 0;
}

.feedback-form-send-btn button:hover {
  background-color: #ca2c37;
}

.feedback-form-send-btn button:active {
  background-color: #ba2732;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: solid 2px #b5b5b5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: solid 2px #ee3643;
}

.modal-buy {
  width: 620px;
  box-sizing: border-box;

  top: 200px;
  left: 50%;

  margin-left: -310px;

  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-buy h2 {
  display: block;
  position: relative;
  font-weight: 400;

  margin: 0;
  margin-top: 60px;
  margin-bottom: 68px;
  padding-left: 180px;
}

.modal-buy h2::before {
  content: "";
  position: absolute;

  top: -15px;
  left: 80px;

  width: 66px;
  height: 66px;

  border-radius: 50%;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-color: #63a63e;
  position: 0 0;
}

.modal-buy-btn {
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0;
  padding: 37px 0;

  background-color: #f1f1f1;
}

.modal-buy-btn .button {
  width: 220px;

  margin: 0;
  padding: 12px 0;
}

.modal-buy-btn .modal-order-btn {
  margin-right: 20px;
}

.modal-buy-btn .modal-shopping-btn:hover {
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.modal-buy-btn .modal-shopping-btn:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

/* Стили для страницы каталога */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  list-style: none;

  font-family: "PT Sans", "Arial", sans-serif;;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:first-child {
  margin-right: 41px;
  padding-top: 3px;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 39px;
}

.breadcrumbs li:nth-child(3) {
  margin-right: 43px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;

  top: 3px;
  right: -23px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:nth-child(2)::after {
  right: -24px;
}

.breadcrumbs li:nth-child(3)::after {
  right: -26px;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs .index-page {
  display: block;
  text-align: center;
  font-size: 0;

  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.container h1 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;
  color: #32425c;

  background-color: #f2f6f8;
}

/* Стили для Сортировки товаров */

.catalog-columns-main {
  display: flex;
  flex-direction: column;
}

.catalog-columns-main .sort-type {
  display: flex;
  width: 700px;
  box-sizing: border-box;

  margin-bottom: 20px;
}

.sort-type,
.filters h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 18px;

  color: #000000;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.sort-type h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  margin: 0;
  margin-right: 140px;
  padding: 0;
  padding-left: 1px;
}

.sort-type-list {
  display: flex;
  width: 355px;

  margin: 0;
  margin-right: 45px;
  padding: 0;
  list-style: none;
}

.sort-type-list-item:nth-child(1) {
  margin-right: 70px;
}

.sort-type-list-item:nth-child(2) {
  margin-right: 65px;
}

.sort-type-list-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-type-list-item a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type-list-item a:focus,
.sort-type-list-item .sort-type-current {
  border: none;
  color: #ee3643;
}

.sort-derection-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 43px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-derection-icon {
  display: block;
  position: relative;
  text-align: center;
  font-size: 0;

  width: 11px;
  height: 18px;

  color: rgba(0, 0, 0, 0.3);
}

.sort-derection-icon svg {
  position: absolute;

  top: 4px;
  left: 0;
}

.sort-derection-icon path {
  fill: #c5c5c5;
}

.sort-derection-icon:hover path {
  fill: #000000;
}

.sort-derection-icon:focus path,
.sort-derection-current path {
  fill: #ee3643;
}

.catalog {
  width: 700px;
}

.catalog-list {
  margin: 0;
  padding: 0;
}

.catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

/* Стили для Фильтров */

.filters {
  width: 220px;

  margin-right: 20px;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-child(3) {
  border-bottom: none;
}

.filter-input {
  display: none;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  padding-top: 18px;
  padding-bottom: 17px;

  color: #000000;
}

.filters-field legend {
  letter-spacing: 1px;
}

.range-filter {
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 40px;

  margin-bottom: 10px;
  padding: 39px 20px 0;

  border-radius: 3px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;

  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;

  padding: 0;

  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
}

.price-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  width: 95px;
  box-sizing: border-box;

  margin: 0;
  padding: 9px 0 11px;

  color: #000000;
  border: none;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.price-controls .filter-price-min {
  margin-right: 10px;
}

.price-controls .filter-price-max {
  margin-left: 10px;
}

.price-controls div {
  width: 10px;
  height: 1px;

  background-color: #444444;
}

.filter-brands-list,
.filter-power-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-brands-list {
  padding-bottom: 15px;
}

.filter-option {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  color: #000000;
}

.filter-option label {
  display: block;
  position: relative;

  cursor: pointer;
  user-select: none;

  padding: 10px 0;
  padding-left: 35px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  box-sizing: border-box;

  top: 9px;
  left: 0;

  width: 23px;
  height: 23px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;

  background-color: transparent;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  box-sizing: border-box;

  top: 11px;
  left: 6px;

  width: 20px;
  height: 10px;

  border-bottom: 4px solid #c5c5c5;
  border-left: 4px solid #c5c5c5;
  background-color: transparent;
  transform: rotate(-45deg);
}

.filter-input-radio + label::after {
  content: '';
  position: absolute;
  box-sizing: border-box;

  top:8px;
  left: 0;

  width: 25px;
  height: 25px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::before {
  content: '';
  position: absolute;
  box-sizing: border-box;

  top: 16px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before {
  background-color: #b5b5b5;
}

.filter-input:hover + label::before,
.filter-input:hover + label::after {
  border-color: #b5b5b5;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  display: block;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;

  margin-top: 70px;
  padding: 10px 38px;

  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3643;
}

/* Стили для нумерации страниц в Каталоге */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 60px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 11px 15px 12px 16px;

  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.pagination-item:last-child a {
  padding: 11px 32px 10px;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a,
.pagination-item-current:hover a {
  color: #ffffff;
  border-color: #ee3643;
  background-color: #ee3643;
}

.about-perforators {
  margin: 0;
  padding: 0;

  background-color: #f4f7f9;
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  padding-top: 67px;
  padding-bottom: 35px;
}

.about-perforators p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;

  margin: 0;
  padding: 0;
  padding-bottom: 67px;
}

.modal-buy {
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
}

.modal-buy h2 {
  font-size: 30px;
  line-height: 30px;
}

.modal-buy-btn {
  background-color: #f1f1f1;
}

.modal-shopping-btn {
  color: #000000;
  background-color: #ffffff;
}
